<div class="ml-5">
<h2 class="mb-5">ジャンル編集</h2>
<%= render 'layouts/error', errorinstance: @genre %>
<div>
  <%= form_with model: [:admins, @genre], local:true do |f| %>
  <!--%= form_with model:@genre, url:"", local:true do |f| %>-->
  <p>ジャンル名　  <%= f.text_field :name %>　  <%= f.submit "変更を保存", class: "btn btn-success" %></p>
  <% end %>
</div>
</div>