<!--間？-->

<!-- 左寄せ？　コンテイナー？で調整っぽい？ -->
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-borderless">
        <tbody>
              <!--間?-->
            <tr>
              <!-- 左寄せ　左からはちょいインデント入ってる -->
              <th colspan="3" class="table-secondary">マイページ</th>
            </tr>
                <!--間-->
            <tr>
              <td>登録情報</td><td><%= link_to "編集するボタン",'/customers/edit', class:"btn btn-sm btn-success" %>
                <!--"編集する ブートストラップ緑ボタン"-->
                <!-- 編集画面にlink_to --></td>
            </tr>
            <!--間-->
            <!-- 表 -->
            <!-- 右側の表示部分はviewからとってきてコピペ -->
                          <!-- current_userのデータ表示 登録されているのを表示する
                          下記の並び-->
        </tbody>
      </table>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row" class="table-secondary">氏名</th>
              <td>@customer.last_name</td><td>@customer.first_name</td>
          </tr>

          <tr>
            <th scope="row" class="table-secondary">カナ</th>
              <td>@customer.last_name_kana</td><td>@customer.first_name_kana</td>
          </tr>

          <tr>
            <th scope="row" class="table-secondary">郵便番号</th>
              <td>@customer.postal_code</td>
          </tr>

          <tr>
            <th scope="row" class="table-secondary">住所</th>
              <td>@customer.address</td>
          </tr>

          <tr>
            <th scope="row" class="table-secondary">電話番号</th>
              <td>@customer.telephone_number</td>
          </tr>

          <tr>
            <th scope="row" class="table-secondary">メールアドレス</th>
              <td>@customer.email</td>
          </tr>
        </tbody>
      </table>
            <!-- 表ここまで -->
            <!--間-->
      <table class="table table-borderless">
        <tbody>
            <!-- ボタンで”一覧を見る”でブルーボタンに白文字 -->
            <tr>
              <td>配送先</td><td><%= link_to "一覧を見る",'/shipping_address', class:"btn btn-sm btn-primary" %></td>
            </tr>
            <!--間-->
            <!-- ボタンで”一覧を見る”でブルーボタンに白文字 -->
            <tr>
              <td>注文履歴</td><td><%= link_to "一覧を見る",'/orders', class:"btn btn-sm btn-primary" %></td>
              <!-- 配送先へのlink_toと注文履歴へのlink_to
              、エンドユーザ側のページ -->
            </tr>
              <!--間?-->
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- 左寄せ？　コンテイナー？で調整っぽい？ここまで -->